.wrapper-for-meigen-show

  .meigen-show-container

    .meigen-show-container__header
      .meigen-show-container__header__information
        %ul
          %li
            = @meigen.user.name
            さんの投稿
          %li
            = @meigen.created_at
      .meigen-show-container__header__edit
        - if current_user.id == @meigen.user_id
          %ul
            %li
              = link_to "編集", meigens_path
            %li
              = link_to "削除", "/"

    .meigen-show-container__content
      .meigen-show-container__content__left
        .meigen-show-container__content__left__header
          %h1 画像
        .meigen-show-container__content__left__image
          = image_tag(@meigen.image, width: '90')

      .meigen-show-container__content__right
        .meigen-show-container__content__right__header
          %h1 名言
        .meigen-show-container__content__right__meigen
          = simple_format(@meigen.content)


    .meigen-show-container__scene-content
      .meigen-show-container__scene-content__left
        .meigen-show-container__scene-content__left__header
          / %h1
        .meigen-show-container__scene-box__left__face
          %i.far.fa-flushed

      .meigen-show-container__scene-content__right
        .meigen-show-container__scene-content__right__header
          %h1 シーン
        .meigen-show-container__scene-content__right__scene
          = simple_format(@meigen.scene)


    .meigen-show-container__sns-function-bar
      .meigen-show-container__sns-function-bar__box
        %ul
          %li
            %i.far.fa-comment
              3
              / コメント機能未実装のため手入力
          %li
            %i.fas.fa-heart
              1
              / いいね機能未実装のため手入力
      .meigen-show-container__sns-function-bar__comment
        / コメント機能未実装のため手入力

    %ul
      %li
        = link_to "一覧へ戻る", meigens_path
      %li
        = link_to "トップへ戻る", "/"
