.wrapper-for-meigen-index
  .my-page-header
    %h1
      = current_user.name
      さんのマイページ
    %ul
      %li
        ●投稿一覧
      %li
        = link_to "/users/#{current_user.id}/likes" do
          ●いいね一覧
      %li#point-column
        = link_to "/points/#{current_user.id}" do
          ●ポイント振った投稿一覧

    .my-page-header__remain-point
      %p
        ポイント残高：
        = current_user.point

  - @meigens.each do |meigen|
    .meigen-container
      .meigen-container__header
        .meigen-container__header--information
          %ul
            %li
              投稿者：
              = meigen.user.name
            %li
              = meigen.created_at
        .meigen-container__header--access-detail
          = link_to "詳細へ", "/meigens/#{meigen.id}"
      .meigen-container__content
        .meigen-container__content__left-content
          = image_tag(meigen.image)
          .meigen-container__content__left-content__source
            = meigen.source
          - meigen.tag_list.each do |tag|
            .meigen-container__content__left-content__tag
              = tag
        .meigen-container__content__right-content
          .meigen-container__content__right-content__meigen
            = simple_format(meigen.content)

      .meigen-container__sns-function-bar
        .meigen-container__sns-function-bar__box
          %ul
            %li
              %i.far.fa-comment
                = meigen.comments_count
            %li{class: "like-heart-#{meigen.id}"}
              = render partial: "meigens/like-view", locals: { meigen: meigen }


      .meigen-container__scene-displayer
        %i.fas.fa-chevron-down.accordion-btn

      .meigen-container__scene-container

        .meigen-container__scene-container__right-content
          .meigen-container__scene-container__right-content__scene
            = meigen.scene
