.wrapper-for-meigen-index
  //background-image: https://www.toptal.com/designers/subtlepatterns/notebook/
  - @meigens.each do |meigen|
    .meigen-container
      .meigen-container__header
        .meigen-container__header--information
          %ul
            %li
              投稿者：
              = meigen.user.name
            %li
              = meigen.created_at
        .meigen-container__header--access-detail
          = link_to image_tag( 'arrow.png', { border: '0', alt: '新規登録' } ), "/meigens/#{meigen.id}"
      .meigen-container__content
        .meigen-container__content__left-content
          = image_tag(meigen.image, width: '80')
          = meigen.source
          - meigen.tag_list.each do |tag|
            .meigen-container__content__left-content__tag
              = tag
        .meigen-container__content__right-content
          .meigen-container__content__right-content__meigen
            = simple_format(meigen.content.truncate(72))

      .meigen-container__sns-function-bar
        .meigen-container__sns-function-bar__box
          %ul
            %li
              %i.far.fa-comment
                = meigen.comments_count
            %li{class: "like-heart-#{meigen.id}"}
              = render partial: "meigens/like-view", locals: { meigen: meigen }


      .meigen-container__scene-displayer
        %i.fas.fa-chevron-down.accordion-btn

      .meigen-container__scene-container
        .meigen-container__scene-container__left-content

        .meigen-container__scene-container__right-content
          .meigen-container__scene-container__right-content__scene
            = meigen.scene
