.wrapper-for-meigen-show

  .meigen-show-container

    .meigen-show-container__header
      .meigen-show-container__header__information
        %ul
          %li
            = @meigen.user.name
            さんの投稿
          %li
            投稿時間:
            = @meigen.created_at
      .meigen-show-container__header__edit
        - if current_user.id == @meigen.user_id
          %ul
            %li
              = link_to "編集", edit_meigen_path(@meigen.id)
            %li
              = link_to "削除", meigen_path(@meigen.id), method: :delete

    - if @max_point.present?
      .meigen-show-container__user-possession
        %h1
          この名言は
          %span
            = @max_point[0].user.name
          さんのものです!
          %span
            = @max_point[0].value
          ポイント振っています

    .meigen-show-container__content
      .meigen-show-container__content__left
        .meigen-show-container__content__left__header
          %h1 画像
        .meigen-show-container__content__left__image.auto-icons{id: "/meigens/#{@meigen.id}"}
          = image_tag(@meigen.image)
          %p
            = @meigen.source
      .meigen-show-container__content__right
        .meigen-show-container__content__right__header
          %h1 名言
        .meigen-show-container__content__right__meigen
          = simple_format(@meigen.content)


    .meigen-show-container__scene-content
      .meigen-show-container__scene-content__left
        .meigen-show-container__scene-content__left__header
          %h1 タグ
        .meigen-show-container__scene-content__left__tag
          - if @meigen.tag_list.length != 0
            - @meigen.tag_list.each do |tag|
              .meigen-show-container__scene-content__left__tag__name
                = tag
          - else
            .meigen-show-container__scene-content__left__tag__nothing
              %p タグ付けされていません!

      .meigen-show-container__scene-content__right
        .meigen-show-container__scene-content__right__header
          %h1 シーン
        .meigen-show-container__scene-content__right__scene
          = simple_format(@meigen.scene)


    .meigen-show-container__sns-function-bar
      .meigen-show-container__sns-function-bar__box
        %ul
          %li
            #comment-counter
              %i.far.fa-comment
              = @meigen.comments_count
          %li{class: "like-heart-#{@meigen.id}"}
            = render partial: "like-view", locals: { meigen: @meigen }

    .meigen-show-container__form-box
      .meigen-show-container__form-box__point
        - unless @meigen.user_id == current_user.id
          %h1 ポイントを振る
          = form_for @point, url: points_path do |f|
            = f.select :value, @num, selected: @current_point
            = f.hidden_field :meigen_id, value: @meigen.id
            = f.submit "Push", class: "point-submit-btn"
      .meigen-show-container__form-box__comment
        = form_for @comment, url: meigen_comments_path(@meigen), remote: true do |f|
          = f.text_area :content, placeholder: "コメントする", id: "comment-area"
          = f.submit "コメントする", class: "comment-submit-btn"

      .meigen-show-container__form-box__comment-index
        %h2 ＜コメント一覧＞
        - if @meigen.comments.length != 0
          = render partial: "comment-view", collection: @meigen.comments, as: "comment"
        - else
          %p.no-comment まだコメントはありません!


    %ul
      %li
        = link_to "一覧へ戻る", meigens_path
      %li
        = link_to "トップへ戻る", "/"
