.wrapper
  .account-management
    .account-management__title
      %h1 LOG-IN
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = devise_error_messages!
      .account-management__field
        = f.label :email
        %br
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "account-management__field--width"
      .account-management__field
        = f.label :password
        %br
        = f.password_field :password, autocomplete: "off", length: { maximum: 8}, class: "account-management__field--width"
      - if devise_mapping.rememberable?
        .account-management__field
          = f.check_box :remember_me
          = f.label :remember_me
      = f.submit "ログイン", class: "account-management__field--btn"
    = render "devise/shared/links"
    = link_to "トップへ戻る", "/"

