!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FinalProgram
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'


  %body
    .header
      .header-nav
        .header-nav__title
          = link_to "Weeee", "/"
        .header-nav__menu
          %ul
            %li.header-nav__menu--content
              =link_to "ABOUT", "/"
            %li.header-nav__menu--content
              =link_to "LOG-IN", "/"
            %li.header-nav__menu--content
              =link_to "SIGN-UP", "/"
    = yield

  %footer
    .footer__list
      %ul
        %li
          =link_to "よくある質問", "/"
        %li
          =link_to "使い方", "/"
