!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title 超名言 -名言を自分のものにするアプリ-
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

  %body
  - if controller.controller_name == "sessions" || controller.controller_name == "registrations" || controller.controller_name == "passwords"
    = yield

  -else
    .header
      .header-nav
        .header-nav__title
          = link_to "超名言", "/"
        - if user_signed_in?
          .header-nav__menu
            %ul
              %li.header-nav__menu--content
                = link_to "マイページ", "/users/#{current_user.id}"
              %li.header-nav__menu--content#modal-open
                検索
              %li.header-nav__menu--content.header-nav__menu--content--small
                = link_to "ログアウト", destroy_user_session_path, method: :delete
              - if controller.action_name != "new"
                %li.header-nav__menu--content.header-nav__menu--content--post-btn
                  = link_to "投稿する", new_meigen_path
              - if controller.controller_name == "home"
                %li.header-nav__menu--content.side-menu-position
                  .fas.fa-angle-double-right
                  = link_to "使い方", "#", class: "js__sideMenuBtn"
              - else
                %li.header-nav__menu--content
                  = link_to "投稿一覧へ", meigens_path

          .side-menu
            .side-menu__header
              %h1 「超名言」って？
              %p 感動、共感、好き・・・そんな名言を投稿できる場所です
              %p 気に入った投稿を集めたり、自分のものにできます
            .side-menu__explanation
            %ul.exp-list
              %li.exp-list-item1
                １．何ができるの？
                %span +
              .exp-list-content1
                %ul
                  %li
                    %p 自分の好きな名言を投稿できます
                  %li
                    %p 内容とその出典(人・本)は必ず入力してください
                  %li
                    %p 内容、出典、タグで投稿の検索できます
                  %li
                    %p マイページで自分の投稿と"いいね"した投稿が見られます
              %li.exp-list-item2
                ２．名言を自分のものにする、って？
                %span +
              .exp-list-content2
                %ul
                  %li
                    %p 「この名言には感動した！」という投稿にポイントを投資することができます。
                  %li
                    %p ポイントを最も振った人がその名言を自分のものにすることができ、ユーザー名が載ります！
                  %li
                    %p アカウントの新規登録時点で100pt、投稿すると10pt獲得できます。残りポイント数はマイページで確認できます。

          .meigen-search-modal
            .meigen-search-modal__overlay
            .meigen-search-modal__content
              .meigen-search-modal__content__header
                %h1 名言を探す
                = form_tag search_meigens_path, method: :get do
                  = text_field_tag :keyword, "", placeholder: "キーワードを入力してください", class: "search-field"
                  = text_field_tag :dummy, "", class: "dummy-field"
                .search-close
                  %i.fas.fa-times#modal-close
              .meigen-search-modal__content__result
                %h2 名言
                %ul.search-result1
              .meigen-search-modal__content__result#search-result-center
                %h2 名言の出典
                %ul.search-result2
              .meigen-search-modal__content__result#search-result-right
                %h2 タグ
                %ul.search-result3

          .header-notice
            = notice
          .header-alert
            = alert

        - else
          .header-nav__menu
            %ul
              %li.header-nav__menu--content
                = link_to "超名言って？", "#", class: "js__sideMenuBtn"
              %li.header-nav__menu--content
                = link_to "ログイン", new_user_session_path
              %li.header-nav__menu--content
                = link_to "新規登録", new_user_registration_path

          .side-menu
            .side-menu__header
              %h1 「超名言」って？
              %p 感動、共感、好き・・・そんな名言を投稿できる場所です
              %p 気に入った投稿を集めたり、自分のものにできます
            .side-menu__explanation
            %ul.exp-list
              %li.exp-list-item1
                １．何ができるの？
                %span +
              .exp-list-content1
                %ul
                  %li
                    %p 自分の好きな名言を投稿できます
                  %li
                    %p 内容とその出典(人・本)は必ず入力してください
                  %li
                    %p 内容、出典、タグで投稿の検索できます
                  %li
                    %p マイページで自分の投稿と"いいね"した投稿が見られます
              %li.exp-list-item2
                ２．名言を自分のものにする、って？
                %span +
              .exp-list-content2
                %ul
                  %li
                    %p 「この名言には感動した！」という投稿にポイントを投資することができます。
                  %li
                    %p ポイントを最も振った人がその名言を自分のものにすることができ、ユーザー名が載ります！
                  %li
                    %p アカウントの新規登録時点で100pt、投稿すると10pt獲得できます。残りポイント数はマイページで確認できます。

          .header-notice
            = notice
          .header-alert
            = alert

    = yield

