!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title 超名言 -名言を自分のものにするアプリ-
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

  %body
  -if controller.controller_name == "sessions" || controller.controller_name == "registrations" || controller.controller_name == "passwords"
    = yield

  -else
    .header
      .header-nav
        .header-nav__title
          = link_to "超名言", "/"
        - if user_signed_in?
          .header-nav__menu
            %ul
              %li.header-nav__menu--content
                =link_to "マイページ", "/users/#{current_user.id}"
              %li.header-nav__menu--content
                =link_to "検索", "#modal-open"
              %li.header-nav__menu--content.header-nav__menu--content--small
                =link_to "ログアウト", destroy_user_session_path, method: :delete
              %li.header-nav__menu--content.header-nav__menu--content--post-btn
                =link_to "投稿する", new_meigen_path

          .meigen-search-modal
            .meigen-search-modal__overlay
            .meigen-search-modal__content
              .meigen-search-modal__content__header
                %h1 名言を探す
                = form_tag search_meigens_path, method: :get do
                  = text_field_tag :keyword, "", placeholder: "キーワードを入力してください", class: "search-field"
                  = text_field_tag :dummy, "", class: "dummy-field"
                .search-close
                  = link_to "#modal-close" do
                    %i.fas.fa-times
              .meigen-search-modal__content__result
                %h2 名言
                %ul.search-result1
              .meigen-search-modal__content__result#search-result-center
                %h2 名言の出典
                %ul.search-result2
              .meigen-search-modal__content__result
                %h2 タグ
                %ul.search-result3

          .header-notice
            = notice
          .header-alert
            = alert
        - else
          .header-nav__menu
            %ul
              %li.header-nav__menu--content
                =link_to "超名言って？", "#about"
              %li.header-nav__menu--content
                =link_to "ログイン", new_user_session_path
              %li.header-nav__menu--content
                =link_to "新規登録", new_user_registration_path
          .header-notice
            = notice
          .header-alert
            = alert
    = yield

    %footer
      .footer__list
        %ul
          - if user_signed_in?
            %li
              =link_to "投稿一覧へ", meigens_path
          %li
            =link_to "使い方", "/"
